.auth-page__main {
    height: 100vh;
}

.auth-page__image {
    background-image: url("https://get.wallhere.com/photo/building-interior-books-library-knowledge-shelves-interior-design-aisle-bookselling-public-library-72435.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.auth-form {
    padding: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.auth-paper {
    display: flex;
    align-items: center;
}