* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Roboto, sans-serif;
    overflow-x: hidden;
    /* NIGHT__MODE */
    /* background: rgba(0, 0, 0, 0.3); */
}

a {
    text-decoration: none;
    color: white;
}

.modal__success-icon {
    font-size: 10rem !important;
    margin-bottom: 15px;
}

.modal__body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
